In [1]:
import pandas as pd

*QUESTION 1*

In [2]:
pd.__version__

'1.1.4'

*QUESTION 2*

In [3]:
import numpy as np

ar=np.array(['good morning','how','are','you','?'])
ser=pd.Series(ar)
print(ser,"\n", type(ser))

0    good morning
1             how
2             are
3             you
4               ?
dtype: object
 <class 'pandas.core.series.Series'>

*QUESTION 3*

In [4]:
import numpy as np

ar=np.array(['WHAT','IS','UP','GUYS','????'])
ds=pd.Series(ar)
df=pd.DataFrame(ds)
df[1]=ds.index
df

      0  1
0  WHAT  0
1    IS  1
2    UP  2
3  GUYS  3
4  ????  4

*QUESTION 4*

In [5]:
import seaborn as sns

print(sns.get_dataset_names())
data=sns.load_dataset('mpg')
data

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

*QUESTION 5*

In [6]:
country=data["origin"].unique()
print("Origin Countries : ")
for i in country:
  print(i)

Origin Countries :
usa
japan
europe

*QUESTION 6*

In [7]:
usCar=data[data["origin"]=="usa"]
usCar

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]